<button data-uid="{{uid}}" data-action="updateTarget" data-update="delete" class="button target">
    <img src="{{thumbnail}}" class="thumbnail" alt="{{token.name}}" >
    <label>{{token.name}}</label>
</button>