<div class="projectfu">
  <div class="items-list">
    <div class="item">
      <div class="item-name">
        <div class="item-image">
          <img src="{{item.img}}">
        </div>
          <h4 class="resource-content">
            <span class="resource-text-m" style="align-items: center;">{{item.name}}</span>
          </h4>
      </div>
    </div>
  </div>
  <form id="autoTargetForm">
    {{> "modules/fu-roll-enhancements/templates/auto-target-fieldset.hbs" targetTypes=targetTypes item=item}}
  </form>
</div>