{{#> "modules/fu-roll-enhancements/templates/item-dialog.hbs" item=item}}
<form id="autoTargetForm">
  {{> "modules/fu-roll-enhancements/templates/auto-target-fieldset.hbs" targetTypes=targetTypes item=item}}
</form>
{{/"modules/fu-roll-enhancements/templates/item-dialog.hbs"}}