{{#> "modules/fu-roll-enhancements/templates/item-dialog.hbs" item=item}}
<form id="autoSpendForm">
  {{> "modules/fu-roll-enhancements/templates/auto-spend-fieldset.hbs" resourceTypes=resourceTypes item=item}}
</form>
{{/"modules/fu-roll-enhancements/templates/item-dialog.hbs"}}