<h5>{{localize "fu-roll-enhancements.guidedTargeting.dialog.enemies.label"}}</h5>
{{#each validTargets.enemies}}
    {{> "modules/fu-roll-enhancements/templates/partials/target-form-group.hbs"}}
{{/each}}
<h5>{{localize "fu-roll-enhancements.guidedTargeting.dialog.allies.label"}}</h5>
{{#each validTargets.allies}}
    {{> "modules/fu-roll-enhancements/templates/partials/target-form-group.hbs"}}
{{/each}}

{{#if validTargets.self}}
<h5>{{localize "fu-roll-enhancements.guidedTargeting.dialog.self.label"}}</h5>
{{#each validTargets.self}}
    {{> "modules/fu-roll-enhancements/templates/partials/target-form-group.hbs"}}
{{/each}}
{{/if}}