<section class="item-details">
    <h4>
    <img src="{{item.img}}" class="item-image" />
    <span>
      {{item.name}}
        {{#if item.system.isOffensive.value}}
            <span class="is-offensive"></span>
        {{/if}}
        {{#if item.system.isMartial.value}}
            <span class="is-martial"></span>
        {{/if}}
    </span>
        {{#if displayData.attackString}}
            <span>
      ⬥ {{displayData.attackString}}
                {{#if displayData.damageString}}
                    ⬥ {{displayData.damageString}}
                {{/if}}
    </span>
        {{/if}}
    </h4>
</section>
{{> @partial-block }}