<div class="roll-configuration-rows">
    {{#if showAutoTarget}}
        {{> "modules/fu-roll-enhancements/templates/auto-target-fieldset.hbs" targetTypes=targetTypes item=item hasDefaultCost=hasDefaultCost}}
    {{/if}}
    {{#if showAutoSpend}}
        {{> "modules/fu-roll-enhancements/templates/auto-spend-fieldset.hbs" resourceTypes=resourceTypes item=item hasDefaultCost=hasDefaultCost}}
    {{/if}}
</div>