<div class="footer">
    <button data-action="recommendedTargets">{{localize "fu-roll-enhancements.targetGuide.recommendedTargets.label"}}</button>
    <button data-action="finalizeTargets">{{localize "fu-roll-enhancements.targetGuide.finalizeTargets.label"}}</button>
    <button data-action="skip">{{localize "fu-roll-enhancements.targetGuide.skip.label"}}</button>
</div>