<footer>
    <button data-action="resetTargets" data-tooltip="fu-roll-enhancements.targetGuide.resetTargets.hint">
        <i class="fa-solid fa-rotate-left"></i>
        <span>{{localize "fu-roll-enhancements.targetGuide.resetTargets.label"}}</span>
    </button>
    <button data-action="recommendedTargets" data-tooltip="fu-roll-enhancements.targetGuide.recommendedTargets.hint">
        <i class="fa-solid fa-thumbs-up"></i>
        <span>{{localize "fu-roll-enhancements.targetGuide.recommendedTargets.label"}}</span>
    </button>
    <button data-action="finalizeTargets" data-tooltip="fu-roll-enhancements.targetGuide.finalizeTargets.hint">
        <i class="fa-solid fa-crosshairs"></i>
        <span>{{localize "fu-roll-enhancements.targetGuide.finalizeTargets.label"}}</span>
    </button>
    <button data-action="skip" data-tooltip="fu-roll-enhancements.targetGuide.skip.hint">
        <i class="fa-solid fa-forward-fast"></i>
        <span>{{localize "fu-roll-enhancements.targetGuide.skip.label"}}</span>
    </button>
</footer>