:is(#auto-spend-dialog, #auto-target-dialog) img.item-image {
  float: left;
  margin-right: 0.2em;
  height: var(--font-h4-size);
}

:is(#auto-spend-dialog, #auto-target-dialog) .form-footer > button {
  flex-basis: calc(50% - 0.5rem);
}

:is(#auto-spend-dialog, #auto-target-dialog, #roll-configuration) .roll-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.25rem;

  &>* {
    flex: 0 1 auto;
  }
  & label:has(:disabled),
  & :disabled {
    cursor: help;
  }
}

.roll-configuration .roll-configuration-rows {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.auto-target .item-info {
  display: flex;
}

.auto-target .item-info img {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.chat-message .projectfu.auto-target {
  font-family: "PT Sans Narrow", sans-serif;
}

.chat-message .projectfu.auto-target .target:not(:last-child) {
  margin-bottom: 0.5em;
}

:is(#auto-target-dialog, #auto-spend-dialog) .dialog-buttons .dialog-button {
  flex-basis: 50%;
}

:is(#auto-target-dialog, #auto-spend-dialog) .dialog-buttons button {
  margin: 0;
}

:is(#auto-target-dialog, #auto-spend-dialog) .projectfu .items-list .item h4.resource-content > * {
  align-items: center;
}

:is(#auto-target-dialog, #auto-spend-dialog) .projectfu .items-list .item {
  background: transparent;
  border: 2px solid transparent;
  transition: inherit;
  -webkit-transition: inherit;
}