.application.roll-enhancements img.item-image {
  float: left;
  margin-right: 0.2em;
  height: var(--font-h4-size);
}

.application.roll-enhancements .form-footer > button {
  flex-basis: calc(50% - 0.5rem);
}

.application.roll-enhancements .roll-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.25rem;

  &>* {
    flex: 0 1 auto;
  }
  & label:has(:disabled),
  & :disabled {
    cursor: help;
  }
}

.roll-configuration .roll-configuration-rows {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.chat-message .roll-enhancements {
  & header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;

    & i.fas {
      flex: 0 1 auto;
    }
    & h2 {
      flex: 1 0 auto;
      font-size: var(--font-size-20);
      border-bottom: none;
      font-variant-caps: small-caps;
    }

    & h1, h2, h3, h4, h5, h6 {
      --font-primary: "PT Sans Narrow", sans-serif;
      font-family: var(--font-primary);
      line-height: 1;
    }
  }

}

.application.roll-enhancements .dialog-buttons .dialog-button {
  flex-basis: 50%;
}

.application.roll-enhancements .dialog-buttons button {
  margin: 0;
}